## Python + Pandas Assessment Review

#### We will be working with the following information defined in the cell below.

In [1]:
students = [
    {'exam_score': 67.5743737055, 'hours_studied': 8.4786921255, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 59.0983982874, 'hours_studied': 5.7737531404, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6},
    {'exam_score': 40.2353236205, 'hours_studied': 4.2802273056, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 6,  'hours_slept': 5},
    {'exam_score': 68.5728466901, 'hours_studied': 8.2049689336, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 78.8909132563, 'hours_studied': 8.8873825943, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 99.6285927929, 'hours_studied': 5.8875768158, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 71.5376019923, 'hours_studied': 8.6755289037, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 91.209319196,  'hours_studied': 7.7949349686, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 95.637085652,  'hours_studied': 9.6774379788, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 7.3505796632,  'hours_studied': 1.8010865962, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 10, 'hours_slept': 1},
    {'exam_score': 100.0,         'hours_studied': 9.1262910299, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 0,  'hours_slept': 11},
    {'exam_score': 73.1646225026, 'hours_studied': 5.8875512702, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 1.697188914,   'hours_studied': 0.8023294541, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 10, 'hours_slept': 1},
    {'exam_score': 48.3173646693, 'hours_studied': 3.6138789305, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 6,  'hours_slept': 5},
    {'exam_score': 57.0423484485, 'hours_studied': 5.9414471409, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6},
    {'exam_score': 65.7118765165, 'hours_studied': 4.6605301,    'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 63.934268264,  'hours_studied': 6.4878477492, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 100.0,         'hours_studied': 8.1237310876, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 0,  'hours_slept': 11},
    {'exam_score': 35.7436570401, 'hours_studied': 3.1974628076, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 7,  'hours_slept': 4},
    {'exam_score': 53.2002957528, 'hours_studied': 4.5502066553, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6}
]

# Phase 1: Python *without* Pandas.  Do the following without Pandas.

#### 1. Examine students.
 -  What data type is students? Use Python to verify.
 -  Describe the contents of the variable students.  How do you know this? Do you feel this is a useful data format? Why or Why Not?

In [2]:
# Write your response here:
'''
Students is a list of dictionaries. The list is annotated by the [], and the dictionaries are annotated by the {}. 
Each dictionary holds data for a singular student.
'''

'\nStudents is a list of dictionaries. The list is annotated by the [], and the dictionaries are annotated by the {}. \nEach dictionary holds data for a singular student.\n'

-  Write a function called `get_max_hours_studied` that takes in a list of dictionaries like students and returns the value of the maximum hours studied within the data set

In [3]:
# write your function in this cell.
def get_max_hours_studied(files):
    most = 0
    for file in files:
        if file['hours_studied'] > most:
            most = file['hours_studied']
    return most

In [4]:
assert(round(get_max_hours_studied(students), 2) == 9.68)

#### Observe the variable student_names defined below.
 - Write a loop that will traverse students and add a key called 'student_name' to the record, populated with each of the values inside of student names by index order.

In [5]:
student_names = [
    'Jill', 
    'Mindy',
    'Kathy', 
    'Hussain', 
    'Priya', 
    'Jasmine', 
    'Abdul', 
    'Ren',
    'Lupita',
    'Patch',
    'Marwan',
    'Stacy',
    'Sylvia',
    'Bo',
    'Vivian',
    'Connor',
    'Hank',
    'Rocko',
    'Filbert',
    'Upton'
]

In [6]:
# Write your loop here:
x = 0
while x < len(student_names):
    students[x]['student_name']= student_names[x]
    x +=1

In [7]:
#another way
for i, student in enumerate(students):
    student['student_name'] = student_names[i]

In [8]:
assert([student['student_name'] for student in students] == student_names)

 - Write a function called `well_read` that will take in a list of dictionaries as an argument and return the name of the student who has studied the most.

In [9]:
# write your function in this cell:
def well_read(x):
    name = ''
    most = 0
    for spot in students:
        if spot['hours_studied'] > most:
            most = spot['hours_studied']
            name = spot['student_name']
    return name

In [10]:
#another way
def well_read2(d):
    for student in students:
        if student['hours_studied'] == get_max_hours_studied(d):
            return student['student_name']

In [11]:
# Extra fancy bonus:
# re-write well_read as a one-liner using list comprehension

In [12]:
assert(well_read(students) == 'Lupita')
assert(well_read2(students) == 'Lupita')

 - What proportion of students that passed used flashcards? Store it as a percentage with one decimal place in a variable called `flash_success`

In [13]:
# assign flash_success in this cell.
flash = 0
passed = 0
for spot in students:
    if spot['exam_score'] > 70:
        passed += 1
        if spot['used_flashcards']:
            flash += 1
flash_success = flash/passed*100
flash_success

50.0

In [14]:
#another way
flash_success2 = len([student for student in students if (student['exam_score']>=70) and (student['used_flashcards']==True)])/len([student for student in students if (student['exam_score']>=70)])*100

In [15]:
assert(flash_success == 50.00)
assert(flash_success2 == 50.00)

#### Alright, time to break out pandas! 🐼

 - Create a dataframe called `student_df` from the students variable that you have at this point.

In [16]:
import pandas as pd
import numpy as np
# create your DataFrame here.
student_df = pd.DataFrame(students)

 - Make a new column inside of `student_df` called `'classroom'` using the following code.  Keep your numpy random seed to 123.

In [17]:
np.random.seed(123)
classrooms = np.random.choice(['A', 'B'], len(student_df))

In [18]:
# put the value of classrooms into your new column in this cell.
student_df['classroom'] = classrooms

In [19]:
assert(list(student_df.classroom.values) == list(classrooms))

 - Create a single groupby aggregation that will output the maximum and minimum exam scores and hours slept for every combination of classroom and handedness.

In [20]:
student_df

,exam_score,hours_studied,used_flashcards,handedness,coffee_consumed,hours_slept,student_name,classroom
0,67.574374,8.478692,True,left,4,7,Jill,A
1,59.098398,5.773753,True,right,5,6,Mindy,B
2,40.235324,4.280227,True,left,6,5,Kathy,A
3,68.572847,8.204969,False,right,4,7,Hussain,A
4,78.890913,8.887383,False,right,3,8,Priya,A
5,99.628593,5.887577,True,left,1,10,Jasmine,A
6,71.537602,8.675529,True,right,3,8,Abdul,A
7,91.209319,7.794935,True,left,1,10,Ren,B
8,95.637086,9.677438,False,left,1,10,Lupita,B
9,7.350580,1.801087,True,right,10,1,Patch,A
10,100.000000,9.126291,False,left,0,11,Marwan,B
11,73.164623,5.887551,True,right,3,8,Stacy,B
12,1.697189,0.802329,False,right,10,1,Sylvia,A
13,48.317365,3.613879,False,left,6,5,Bo,B
14,57.042348,5.941447,True,right,5,6,Vivian,A
15,65.711877,4.660530,False,right,4,7,Connor,B
16,63.934268,6.487848,True,right,4,7,Hank,A
17,100.000000,8.123731,False,right,0,11,Rocko,B
18,35.743657,3.197463,False,right,7,4,Filbert,B
19,53.200296,4.550207,True,right,5,6,Upton,A

In [23]:
# write your aggregation in this cell:
student_df.groupby(['classroom','handedness']).agg({'exam_score':['max', 'min'], 'hours_slept': ['max','min']})

                      exam_score            hours_slept
                             max        min         max min
classroom handedness
A         left         99.628593  40.235324          10   5
          right        78.890913   1.697189           8   1
B         left        100.000000  48.317365          11   5
          right       100.000000  35.743657          11   4

In [39]:
#another way
student_df.groupby(['classroom','handedness'])[['exam_score','hours_slept']].agg(['max','min'])

                      exam_score            hours_slept
                             max        min         max min
classroom handedness
A         left         99.628593  40.235324          10   5
          right        78.890913   1.697189           8   1
B         left        100.000000  48.317365          11   5
          right       100.000000  35.743657          11   4

 - Write a function called `best_rested_performer` that takes in a DataFrame and returns the name of the student in student_df that has the highest grade, that slept the most.
 
(hint: sort by exam score, then by hours slept, and make sure your function returns a string literal!)

In [40]:
# write your function in this cell:
def best_rested_performer(df):
    new = df.sort_values(['exam_score','hours_slept'], ascending=[False,False]).head(1).student_name.to_string(index=False)
#    name = new['student_name'].head(1)
    return new

In [41]:
assert(best_rested_performer(student_df) == 'Marwan')

 - Utilize the following dictionary to create a new column called `'room_no'` that tells a student where they should be going.

In [42]:
student_df.head()

,exam_score,hours_studied,used_flashcards,handedness,coffee_consumed,hours_slept,student_name,classroom
0,67.574374,8.478692,True,left,4,7,Jill,A
1,59.098398,5.773753,True,right,5,6,Mindy,B
2,40.235324,4.280227,True,left,6,5,Kathy,A
3,68.572847,8.204969,False,right,4,7,Hussain,A
4,78.890913,8.887383,False,right,3,8,Priya,A

In [43]:
classroom_location = {
    'A': 'Humanities Building, Room 204',
    'B': 'Business Building, Room 318',
    'C': 'Humanities Building, Room 113'
}

In [44]:
student_df['room_no'] = student_df.classroom.map(classroom_location)

 - Write a function called `sleepy_goat_ratio` that takes in a DataFrame as an argument, that returns a one-decimal percentage value of the proportion of students that slept at least eight hours and passed the exam out of the entire class. Consider a grade of 70 as passing.

In [45]:
# write your function in this cell:
def sleepy_goat_ratio(df):
    l = df[(df.hours_slept >= 8) & (df.exam_score >= 70)]
    return round((len(l)/len(df))*100,1)

In [46]:
assert(sleepy_goat_ratio(student_df) == 40.0)